// Layout - - - - - - - - - - - - - - - - >
$window-margin: 6rem;
$window-margin-mobile: 1rem;
$window-margin-tablet: 3rem;

// Main Colors - - - - - - - - - - - - - - - - >
$mainBG: rgba(26,19,37,1.0);
$mainFore: rgb(255, 45, 203);
$mainBorder: rgba(40,66,178,1.0);
$secondaryBorder: #000;

$mainText: rgba(250,213,229,1.0);
$mainDarkText: rgba(106,30,79,1.0);
$mainTextImportant: #000;
$mainLink: #000;

// Main Board
$mainSpace: rgba(100,42,181,1.0);

// Main Snake
$mainSnake: rgba(106,190,57,1.0);

// Ouroboros Colors - - - - - - - - - - - - - - - - >
$ouroBG: rgba(26,19,37,1.0);
$ouroFore: rgb(255, 45, 203);
$ouroBorder: rgba(40,66,178,1.0);

$ouroText: rgba(250,213,229,1.0);
$ouroDarkText: rgba(106,30,79,1.0);
$ouroTextImportant: #000;
$ouroLink: #000;

// Main Board
$ouroSpace: rgba(100,42,181,1.0);

// Main Snake
$ouroSnake: rgba(106,190,57,1.0);

// Snek-Ception Colors - - - - - - - - - - - - - - - - >
$ceptionBG: rgba(37,45,48,1.0);
$ceptionFore: rgba(230,24,19,1.0);
$ceptionText: rgba(181,194,199,1.0);

// Snek-Ception Board
$ceptionSpace: #234660;

// Classik Colors - - - - - - - - - - - - - - - - >
$classikBG: rgba(190,202,0,1.0);
$classikFore: rgba(114,95,1,1.0);


